.header{
  display: flex;
  justify-content: center;
  background-color: #21201d;
  color: white;
}

.App-body {
  min-height: 100vh;
  min-width: 100vw;
  padding-bottom: 40px;
  background-color: #403e39;
  color: white;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;  
}

.search-text{
  margin: 10px;
}

#search-bar{
  width:220px;
  padding: 6px 8px;
  border-color: #403e39;
  background-color: #21201d;
}

.book-list{
display: flex;
justify-content: space-around;
flex-direction: row;
flex-wrap: wrap;
}

.book-tile{
  width: 240px;
  background-color: #21201d;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.book-img{
  padding-top: 10px;
  height:200px;
}

h5{
  margin: 10px;
}

h6{
  margin: 1px;
  padding-bottom: 10px;
}

a{
  font-size: 10pt;
  padding-bottom: 10px;
  color: white;
}

.footer{
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21201d;
  color: white;
}

#github-reference{
  font-size: 12pt;
  padding: 0;
}